body {
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    font-size:52.49px;
}
.dancing-script {
    font-family: 'Dancing Script', cursive;
}
.custom-btn {
    font-size:20px;
    background: #8E0BD6;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 15px 45px 0px rgba(0,0,0,0.15);
    border-radius: 12px;
    font-weight:400;
}

/******* NAVBAR ********/
#logo img {
    padding-top:5px;
    padding-bottom:10px;
}
.device-xxs #logo img {
    padding-bottom:41px;
    padding-top:1px;
}
#primary-menu ul li > a {
    color:#585A56;
    font-size:18px;
}
.device-xxs #header, .device-xxs #header-wrap {
    height:60px;
}


.device-md #primary-menu .navbar li > a, .device-sm #primary-menu .navbar li > a, .device-xs #primary-menu .navbar li > a, .device-xxs #primary-menu .navbar li > a {
    font-size:17px;
    padding-left:11px;
    padding-right:11px;
}
#primary-menu > .navbar > li:nth-child(1) > a {
    color:#FF782A;
    font-weight:700;
}
#primary-menu > .navbar > li:nth-child(2) > a {
    color:#306A90;
    font-weight:700;
}

#primary-menu > .navbar > li:nth-child(3) > a {
    color:#5F09AC;
    font-weight:700;
}

.fa-info-circle {

    color:#6E7479;
}
#primary-menu-trigger {
    font-size:22px;
}
#side-panel-trigger {
    width:22px;
    height:22px;
    right:15px;
}
.device-xxs #side-panel-trigger {
    margin:19px 0;
}
.device-xxs #primary-menu-trigger {
    top:5px;
    bottom:5px;
}
.fa-info-circle {
    font-size:22px;
    top:-2px;
    position:relative;
}

.device-xxs #primary-menu-trigger {
    margin-left:-5%;
}
.device-xxs #side-panel-trigger {
    margin-right:-5%;
}

/********* TOP SLIDER *******/
#slide-1 img {
    width:22.7%;
    height:22.7%;
}
#slide-1 {
    background-position-y:0;
}
#slide-1 h1 {
    color:#585A56;
    font-family: 'Dancing Script', cursive;
    font-weight:400;
    line-height:90px;
    margin-bottom:10px;
}
.smile-text {
    font-size:140.94px;
    color:#1AA1B2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    letter-spacing: -1.75px;
}