body {
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    font-size:52.49px;
}
h2 {
    font-size:55px;
}
p {
    color:#585A56
}
.dancing-script {
    font-family: 'Dancing Script', cursive;
}
.custom-btn {
    font-size:20px;
    background: #8E0BD6;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 15px 45px 0px rgba(0,0,0,0.15);
    border-radius: 12px;
    font-weight:400;
}

/******* NAVBAR ********/
#logo img {
    padding-top:5px;
    padding-bottom:10px;
}
.device-xxs #logo img {
    padding-bottom:41px;
    padding-top:1px;
}
#primary-menu ul li > a {
    color:#585A56;
    font-size:18px;
}
.device-xxs #header, .device-xxs #header-wrap {
    height:60px;
}


.device-md #primary-menu .navbar li > a, .device-sm #primary-menu .navbar li > a, .device-xs #primary-menu .navbar li > a, .device-xxs #primary-menu .navbar li > a {
    font-size:17px;
    padding-left:11px;
    padding-right:11px;
}
#primary-menu > .navbar > li:nth-child(1) > a {
    color:#FF782A;
    font-weight:700;
}
#primary-menu > .navbar > li:nth-child(2) > a {
    color:#306A90;
    font-weight:700;
}

#primary-menu > .navbar > li:nth-child(3) > a {
    color:#5F09AC;
    font-weight:700;
}

.fa-info-circle {

    color:#6E7479;
}
#primary-menu-trigger {
    font-size:22px;
}
#side-panel-trigger {
    width:22px;
    height:22px;
    right:15px;
}
.device-xxs #side-panel-trigger {
    margin:19px 0;
}
.device-xxs #primary-menu-trigger {
    top:5px;
    bottom:5px;
}
.fa-info-circle {
    font-size:22px;
    top:-2px;
    position:relative;
}

.device-xxs #primary-menu-trigger {
    margin-left:-5%;
}
.device-xxs #side-panel-trigger {
    margin-right:-5%;
}

/********* TOP SLIDER *******/
#slider {
    min-height:615px;
}
#slide-1 {
    background-position-y:0;
}

#slide-1 img {
    width:22.7%;
    height:22.7%;
}
#slide-1 h1, #slide-3 h1 {
    color:#585A56;
    font-family: 'Dancing Script', cursive;
    font-weight:400;
    line-height:90px;
}
.smile-text {
    font-size:140.94px;
    color:#1AA1B2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    letter-spacing: -1.75px;
}
#slide-2 h2 {
    color:#1AA1B2;
    font-weight:700;
    font-size:55px;
    margin-bottom:20px;
}
#slide-2 .slider-caption {
    margin-top:0px;
}
.icon-star3 {
    color: #FFD700;
    text-shadow: 1px 1px 4px #000;
    font-size:34px;
}
#slide-2 p {
    font-size:30px;
    font-family: 'Dancing Script', cursive;
    line-height:30px;
    margin-bottom:40px;
}
.slide-quote {
    margin-left:15px;
    font-size:24px;
}
.star-set {
    margin-bottom:10px;
}
#slide-3 .slider-caption {
    margin-top:-30px;
}
.device-sm #slide-2 h2 {
    font-size:40px;
    margin-bottom:15px;
}
.device-sm #slide-2 p {
    font-size:24px;
    margin-bottom:10px;
}
.device-sm #slide-2 .slide-quote {
    font-size:20px;
}
.device-sm #slide-2 .slider-caption {
    margin-top:-100px;
}
.device-md #slide-3 .slider-caption {
    padding-left:20px;
}
.device-sm #slide-3 .slider-caption {
    margin-top:-120px;
}
.device-sm #slide-1 .slider-caption {
    margin-top:-100px;
    margin-left:-130px;
}
.device-sm #slide-1 img {
    width:15%;
    height:15%;
}
.device-md #slide-1 .slider-caption {
    margin-left:-85px;
}
.device-sm #slide-3 h1, .device-sm #slide-1 h1 {
    font-size:48px;
    margin-bottom:20px;
}
.device-sm .smile-text {
    font-size:110px;
}
.device-sm .slide-2 .slider-caption {
    margin-left:-20px;
}
#slide-3 p {
    font-size:28px;
}
#slide-2 .button {
    margin-left:0;
}
.device-lg #slide-1 .slider-caption {
    margin-left:-100px;
}
